
body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;	
    padding-top: 30px;
	padding-right: 150px;
	padding-bottom: 30px;
	padding-left: 150px;

}

h3 {
	color: grey;
	font-size: 16px;
	font-family: "arial";
}

h2 {
	color: #375568;
	font-size: 18px;
	font-family: "arial";
}

h1 {
	font-family: "courier new";
	font-weight: bold;
	color: #5ea8d7;
}

p {
	color:gray;
	font-family: "arial";
}

a {
	color: inherit;
}

.logo-image {
	height: 30px;
	width: 30px;
	margin: 0px;
	float: left;
}
	
.header-main {
	background-color: #004b7c;
	padding-left: 30px;
	overflow: auto;
}

.container-main {
	background: #ffffff;
	padding: 30px 30px 30px 30px;
	margin-top: 20px;
}

.footer-main {
	background: #ffffff;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
}

.text-block {
	margin: 2px;
	border: 0px solid black;
}

.text-block-grey {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	margin-left: 30px;
	background-color: #e5ecf1;
	width: 60%;
	box-shadow: 5px 5px 10px grey;
}
